<html>
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="{{ config.base_url }}/style.css">
		<link rel="stylesheet" href="{{ config.base_url }}/style-print.css" media="print">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/" crossorigin="anonymous"></script>
		<script src="{{ config.base_url }}/scripts/html2canvas.min.js"></script>
		<script src="{{ config.base_url }}/scripts/npc-creator.js"></script>
	</head>
	<body>
		<header>
			{% include "includes/nav.html" %}
		</header>

		<div id="content">
			{% block content %} {% endblock %}
		</div>

		{% include "includes/footer.html" %}
	</body>
</html>

